views/about.html

<div class="ng-cloak">
  <md-content class="md-margin"></md-content>
  <md-card>
    <md-card-header>
      <md-card-header-text><span class="md-title">Geo</span><span class="md-subhead">Go to source for product listings</span></md-card-header-text>
    </md-card-header>
    <md-card-content>
      <p>The Geo is the go to source for product listings</p>
    </md-card-content>
  </md-card>
</div>

jade/views/about.jade
//output: ../../views/about.html
.ng-cloak
  md-content(class="md-margin")
  md-card
    md-card-header
      md-card-header-text
        span.md-title Geo
        span.md-subhead Go to source for product listings
    md-card-content
      p
        | The Geo is the go to source for product listings
