views/home.html

<div class="ng-cloak">
  <md-card md-theme="default" md-theme-watch="">
    <md-card-title>
      <md-card-title-text><span class="md-headline">Card with image</span><span class="md-subhead">Medium</span></md-card-title-text>
      <md-card-title-media>
        <div class="md-media-md card-media"></div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button>Action 1</md-button>
      <md-button>Action 2</md-button>
    </md-card-actions>
  </md-card>
</div>

jade/views/home.jade
//output: ../../views/home.html
.ng-cloak
  md-card(md-theme="default", md-theme-watch='')
    md-card-title
      md-card-title-text
        span.md-headline Card with image
        span.md-subhead Medium
      md-card-title-media
        .md-media-md.card-media
    md-card-actions(layout='row', layout-align='end center')
      md-button Action 1
      md-button Action 2
